.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 15px;
    margin: 0 auto;
    max-width: 460px;
  }
.li1{
    width: 60px;
}
.cabeçalho{
    background-color: #e6cab7;
    color: white;
    font-size: 18px;
    }
.logo-cabeçalho{
  width: 300px;
  height: auto;
}
.segundo-cabeçalho{
  text-align: center;
}
.container {
  display: flex;
}

.barra {
  background-color: #D8CAC1;
  height: 7px; 
  width: 70%; 
  border: none;
  margin: 10px auto; 
  border-radius: 20px;
  display: block;
}
.main1{
  display: flex;
  justify-content: center;
}


.foto-mulher {
  width: 30%;
  height: auto;
  border-radius: 15px;
}

.textomain1 {
  background-color: #DDBEA9;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-size: 2em;  
  padding-bottom: 80px;
}



.foto-mulher {
  width: 30%;
  height: auto;
  border-radius: 15px;
}

.textomain1 {
  background-color: #DDBEA9;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-size: 2em; 
  padding-bottom: 80px;
}

.barra-curta {
  background-color: #D8CAC1;
  height: 7px; 
  width: 50%; 
  border: none;
  margin: 10px auto; 
  border-radius: 20px;
  display: block;
}

.titulotexto {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.titulo-projetos {
  color: #635739;
  text-transform: capitalize;
  font-size: 1.75rem;  
  padding-bottom: 10px;
}

.imagem-projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.img1,
.img2 {
  width: 34.4%;
  height: 400px;
  border-radius: 8px;
}
.anuncio{
  text-align: center;
  padding-top: 30px;
 size: 500px;
 font-size: 50px;
}



@media (max-width: 1000px) {
  .foto-mulher {
    display: none;
  }

  .textomain1 {
    display: flex;
    font-size: 110%;  
    align-items: center;
    flex-direction: column;
    width: 80%; 
  }

  .img1,
  .img2 {
    width: 80%;
    height: 100%;
  }
  .anuncio{
    font-size: 25px;
    
  }


}
.img1,
.img2{
  padding-bottom: 15px;
  

}
.vermais{
  border: solid 2px #2d2d2d;
  width: 250px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 23px;
}
.textovermais{
  padding-top: 9px;
}

.brilho{
  width: 20px;
  height: auto;
  
}

.botaodebaixo{
  background-color: #DDBEA9;
  width: 250px;
  height: 50px;
  border-radius: 500px;
  font-size: 20px;
  
  
}

.butau{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.oferta{
  display:flex ;
  flex-direction: column;
  gap: 20px;
}


.rodape{
  background-color: #403934;
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  color: white;
  gap: 10%;
  flex-wrap: wrap;
  padding-top: 80px;
  font-size: 18px;
}

.icon{
  width: 18px;
  height: auto;
} 
/* .redesociais{
} */
.iconsocial{
  width: 27px;
  height: auto;
  padding-left: 2px;
  padding-top: 3px;
}
.barra-curta-rodape{
  background-color: #D8CAC1;
  height: 3px; 
  width: 6em; 
  margin: 1px auto; 
  border-radius: 20px
}
.barra-curta-rodape-pagamentos{
  background-color: #D8CAC1;
  height: 3px; 
  width: 10.7em; 
  margin-right: 1em;
  border-radius: 30px;
}
.barra-curta-rodape-contatos{
  background-color: #D8CAC1;
  height: 3px; 
  width: 4em; 
  border-radius: 20px;
  margin-left: 0.5em;
  
}
.contatos{
  padding-left: 10px;
}
.iconpaga{
  width: 45px;
  padding-top: 3px;
  height:30px;
}
@media (max-width: 788px){
  .rodape{
    display: flex;
    flex-wrap: wrap;
    
  }
}



body{
  background-color:#f2efea;
}

.li1:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.li2:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.li3:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.li4:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.botaodebaixo:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  
}