*{
    background-color: #F2EFEA;
    font-family: "jost", sans-serif;
}
.mainlogin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 208px;
}
.esqu{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: #675A51;
    padding: 80px 80px 80px;
}
.logo{
    height: 100px;
    width: auto;
}
.barra{
    background-color: #DDBEA9;
    height: 300px;
    width: 5px;
    border-radius: 20px;
    text-align: center;
    margin: 0;
}
.dire{
    padding: 80px 80px 80px;
}
.icon{
    height: 20px;
    width: auto;
}
#email{
    border: 2px solid #AC8871;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    background-color: white;
}
#pwd{
    border: 2px solid #AC8871;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    background-color: white;
}
.butaologin{
    border-color: #ac887100;
    background-color: #DDBEA9;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-size: 18px;
    font-family: "jost", sans-serif;
}
.butaologinparacadastro{
    border-color: #ac887100;
    background-color: #DDBEA9;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-size: 18px;
    font-family: "jost", sans-serif;
}
.textlogin{
    align-items: left;
    font-size: 16px;
    font-family: "jost", sans-serif;
}
input[type="password"] {
    position: relative;
  }
  
input[type="password"]::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-155%, -50%);
  }
  input[type="email"] {
    position: relative;
  }
input[type="email"]::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%, -50%);
}
@media (max-width: 863px) {
    .barra {
      display: none;
    }
    .esqu{
        padding: 80px 80px 1px;
    }
    .dire{
        padding: 25px 80px 80px;
    }
    
  }