body{
    background-color: #f2efea;
}
.barra {
    background-color: #D8CAC1;
    height: 7px; 
    width: 70%; 
    border: none;
    margin: 10px auto; 
    border-radius: 20px;
}
li{
  text-transform: capitalize;
}
.logo{
  height: 100px;
  width: auto;
}
.menus{
  display: flex;
  justify-content: center;
  gap:30px;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-wrap: wrap;

}
.menu{
  display: flex;
  flex-direction:row ;
  gap: 40px;
  text-transform: capitalize;
  padding-top: 80px;
  flex-wrap: wrap;
}
.titulo-principal{
  color: #2D2D2d;
  font-size: 30px;
  padding-left: 20%;
}
.sub-titulo{
  color: #2D2D2d;
  font-size: 20px;
}

.sub-titulo{
  padding-top:10px;
  padding-left: 20%;
  padding-bottom: 20%;
}
.rodape{
  position: fixed;
  bottom: 0;
}



.rodape{
    background-color: #403934;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10%;
    flex-wrap: wrap;
    padding-top: 30px;
    font-size: 18px;
  }
  
  .icon{
    width: 18px;
    height: auto;
  } 
  /* .redesociais{
  } */
  .iconsocial{
    width: 27px;
    height: auto;
    padding-left: 2px;
    padding-top: 3px;
  }
  .barra-curta-rodape{
    background-color: #D8CAC1;
    height: 3px; 
    width: 6em; 
    margin: 1px auto; 
    border-radius: 20px
  }
  .barra-curta-rodape-pagamentos{
    background-color: #D8CAC1;
    height: 3px; 
    width: 10.7em; 
    margin-right: 1em;
    border-radius: 30px;
  }
  .barra-curta-rodape-contatos{
    background-color: #D8CAC1;
    height: 3px; 
    width: 4em; 
    border-radius: 20px;
    margin-left: 0.5em;
    
  }
  .contatos{
    padding-left: 10px;
  }
  .iconpaga{
    width: 45px;
    padding-top: 3px;
    height:30px;
  }
  @media (max-width: 550px){
    .rodape{
      display: flex;
      flex-wrap: wrap;  
    }
    .menu{
      padding-top: 10px;
    }
  
  }